@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}

/* Navbar Styling */
.navbar {
    z-index: 1050;
    padding: 18px;
    background-color: black;
    color: white;
}

.navbar .nav-link {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
    margin-right: 50px;
    font-size: 19px;
}

.navbar .nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #e94560;
    transition: width 0.4s ease, left 0.4s ease;
}

.navbar .nav-link:hover::after {
    width: 100%;
    left: 0;
}

/* Navbar Toggle Icon Color */
.navbar-toggler {
    border-color: #e94560;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(233,69,96, 0.9)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Sub Navbar Styling */
.sub-navbar {
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 1049;
    padding: 10px 0;
    background-color: #383636;
    border-top: 1px solid #222;
    border-bottom: 1px solid #444;
}

.sub-navbar .nav-link {
    color: #f9fbfd;
    margin: 0 15px;
    font-size: 20px;
}

.sub-navbar .nav-link:hover {
    color: wheat;
    border-radius: 30px;
}

/* Sub-navbar Toggle Icon */
.sub-navbar .navbar-toggler {
    border-color: #e94560;
}

.sub-navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(233,69,96, 0.9)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Contact Section */
.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222;
    margin-top: 45px;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 3em;
    color: white;
    font-weight: 500;
}

.contact .content p {
    font-size: 1.1em;
    color: white;
    font-weight: 300;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.container .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactinfo .box {
    position: relative;
    padding: 20px;
    display: flex;
    cursor: pointer;
}

.container .contactinfo .box .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 30deg, #69ffa3 0%, #69ffa3 10%, transparent 10%, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contactinfo .box .icon::before {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg, #69ffa3 0%, #69ffa3 10%, transparent 10%, transparent 50%);
}

.container .contactinfo .box .icon::after {
    content: "";
    position: absolute;
    inset: 2px;
    background: #222;
}

.container .contactinfo .box .icon b {
    position: absolute;
    inset: 8px;
    background-color: #69ffa3;
    z-index: 2;
}

.container .contactinfo .box .icon i {
    position: relative;
    z-index: 1000;
    color: #333;
    font-size: 1.25em;
}

.container .contactinfo .box .text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: white;
    font-family: 300;
}

.container .contactinfo .box .text h3 {
    font-weight: 500;
    color: #69ffa3;
}

.container .contactinfo .txt {
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    border-left: 50px solid #69ffa3;
    padding-left: 10px;
    line-height: 1em;
}

.container .contactinfo .sci {
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

.container .contactinfo .sci li {
    list-style: none;
}

.container .contactinfo .sci li a {
    color: white;
    font-size: 1.5em;
    transition: 0.25s;
}

.container .contactinfo .sci li:hover {
    color: #69ffa3;
    filter: drop-shadow(0 0 5px #69ffa3);
}

/* Contact Form */
.container .contactform {
    position: relative;
    width: 40%;
    background: repeating-conic-gradient(from var(--a), #69ffa3 0%, #69ffa3 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    padding: 60px;
}

.container .contactform::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), #69ffa3 0%, #69ffa3 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.container .contactform::after {
    content: '';
    position: absolute;
    inset: 2px;
    border: 20px solid #222;
    background: #333;
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0% {
        --a: 0deg;
    }

    100% {
        --a: 360deg;
    }
}

.container .contactform form {
    position: relative;
    z-index: 10;
}

.container .contactform form h2 {
    font-size: 2em;
    color: white;
    font-weight: 500;
}

.container .contactform form .inputbox {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.container .contactform form .inputbox input,
.container .contactform form .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid #69ffa3;
    color: #fff;
    outline: none;
    resize: none;
}

.container .contactform form .inputbox span {
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #fff;
    transition: 0.5s;
}

.container .contactform form .inputbox input:focus~span,
.container .contactform form .inputbox textarea:focus~span,
.container .contactform form .inputbox input:valid~span,
.container .contactform form .inputbox textarea:valid~span {
    color: #69ffa3;
    font-size: 0.9em;
    transform: translateY(-24px);
}

.container .contactform form .inputbox input[type="submit"] {
    width: 100%;
    background: #69ffa3;
    color: #222;
    border: none;
    cursor: pointer;


}



@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contactinfo,
    .container .contactform {
        width: 100%;
    }

    .container .contactform {
        padding: 40px;
    }

    .container .contactform form {

        padding: 30px;

    }

}